<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
                <ul>
                    <li><i class="fa fa-envelope"></i> Anhtuyet@gmail.com</li>
                    <li>Miễn phí vẫn chuyển toàn quốc</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
                <div class="header__top__right__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>
                <div class="header__top__right__language">
                    <img src="img/language.png" alt="">
                    <div>Tiếng việt</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Tiếng việt</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth">
                    <a href="/admin"><i class="fa fa-user"></i> Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
