
@{
    ViewBag.Title = "guitinnhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Cảm ơn bạn đã liên hệ với chúng tôi , chúng tôi sẽ phản hồi lại sau ít phút
</div>

