@using tmdt.Models;
@{
    ViewBag.Title = "lienhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Điện thoại</h4>
                    <p>0911155080</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Địa chỉ</h4>
                    <p>Nghĩa Hưng - Nam Định</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Giờ mở cửa</h4>
                    <p>08:00 sáng - 22:00 tối</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>Anhtuyet@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <a href="./index.html"><img src="~/LIB/img/product/map111.PNG" alt=""></a>    
            <h4>Điện thoại di động</h4>
            <ul>
                <li>SĐT:0911155080</li>
                <li>Địa chỉ:Nghĩa Hưng - Nam Định</li>
            </ul>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Gửi Cửa Hàng</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tên bạn">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Địa chỉ Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Nội dung tin nhắn"></textarea>
                    <a href="@Url.Action("guitinnhan", "lienhe001")" class="primary-btn">Gửi tin nhắn</a>
                </div>
            </div>
        </form>
    </div>
</div>

