<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>SẢN PHẨM MỚI</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>LG WING 5G</h6>
                                <span>29.990.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi9t.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Xiaomi Mi 9T</h6>
                                <span>9.500.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Iphone 11 Pro Max</h6>
                                <span>29.000.000 VNĐ</span>
                            </div>
                        </a>
                    </div>
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>LG WING 5G</h6>
                                <span>29.990.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi9t.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>CXiaomi Mi 9T</h6>
                                <span>9.500.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Iphone 11 Pro Max</h6>
                                <span>29.000.000 VNĐ</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>SẢN PHẨM XẾP HẠNG</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Iphone 11 Pro Max</h6>
                                <span>29.000.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>LG WING 5G</h6>
                                <span>29.990.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi11.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Xiaomi 11 </h6>
                                <span>9.990.000 VNĐ</span>
                            </div>
                        </a>
                    </div>
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Iphone 11 Pro Max</h6>
                                <span>29.000.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>LG WING 5G</h6>
                                <span>29.990.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi11.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Xiaomi 11</h6>
                                <span>9.000.000 VNĐ</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>ĐÁNH GIÁ SẢN PHẨM</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Iphone 11 Pro Max</h6>
                                <span>29.000.000 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi9t.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Crab Pool Security</h6>
                                <span>$30.00</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Crab Pool Security</h6>
                                <span>$30.00</span>
                            </div>
                        </a>
                    </div>
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/11promax.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Crab Pool Security</h6>
                                <span>$30.00</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/mi9t.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Crab Pool Security</h6>
                                <span>$30.00</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="/LIB/img/latest-product/LG.jpg" alt="">
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Crab Pool Security</h6>
                                <span>$30.00</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
